[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
[submodule "backend"]
	path = backend
	url = https://github.com/1012881/first_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/1012881/first_frontend.git
